@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    background-color: rgb(35, 35, 35);
    color: rgb(255 255 255 / 70%);
    font-family: "Roboto", sans-serif;
  }

  td,
  th {
    padding: 10px;
    text-align: center;
  }

  tr {
    @apply border-b border-b-border-1;
  }
}

@layer base {
}

@layer utilities {
}

@layer components {
  @layer tab {
    .btnanim {
      background-color: blue;
    }
  }
}

/* START OF Multi Range slider styles ================> */

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 6px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f1f5f7;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* END OF Multi Range slider styles ================> */
