@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    background-color: rgb(35, 35, 35);
    color: rgb(255 255 255 / 70%);
    font-family: "Roboto", sans-serif;
  }

  td,
  th {
    padding: 10px;
    text-align: center;
  }

  tr {
    @apply border-b border-b-border-1;
  }
}

@layer base {
}

@layer utilities {
}

@layer components {
  .btncal {
    @apply bg-slate-400 flex justify-center text-[#3a3a3a] p-2 hover:bg-slate-600  cursor-pointer active:bg-green-500;
  }
}
