@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  body {
    background-color: rgb(35, 35, 35);
    color: rgb(255 255 255 / 70%);
    font-family: 'Roboto', sans-serif;
  }
}

@layer base {
}

@layer utilities {
}

@layer components {
  @layer tab {
    .btnanim {
      background-color: blue;
    }
  }
}
